@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BaiTapLonWNC.Models.register
<div class="row ">
    <div class="col-md-4 col__mg">
        <form asp-action="Register" method="post">
            <div class="form-group">
                <label asp-for="user.UserName"></label>
                <input asp-for="user.UserName" class="form-control" />
                <span class="error" asp-validation-for="user.UserName"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.Pass"></label>
                <input type="password" asp-for="user.Pass" class="form-control" />
                <span class="error" asp-validation-for="user.Pass"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangCn.NameTcn"></label>
                <input asp-for="TrangCn.NameTcn" class="form-control" />
                <span class="error" asp-validation-for="TrangCn.NameTcn"></span>
            </div>
            <span class="error">@ViewBag.User</span>
            <br />
            <button type="submit" class="btn btn-primary">Đăng kí</button>
        </form>
    </div>
</div>